---
title: Designer + Hobbyist Dev
layout: '_base.pug'
pageColorChoice: dark
---

section.section.hero-home
	//- .job-title Designer + Digital Enthusiast
	.hero-text With a love for digital and social design, I strive to keep giving while growing.
section.section.work#work 
	h2 My work
	.project-gallery 
		each project in projects
			.project-card 
				a.proj-card-text(href=`projects/${project.slug}` data-cursor-class="arrow")
					h3.proj-card-title #{project.title}
				.proj-card-tag 
					p Web Design
				a.proj-card-img-wrapper(href=`projects/${project.slug}` data-cursor-class="arrow") 
					img.proj-card-img(src="/_assets/medium_valivaryus_splash_01_5c339485d5.png", alt="Photo", srcset="")
include _sketchbook.pug
section.section.about
	h2 About Me
	.about-wrapper
		.about-id-info 
			p.about-name Sami <span class="about-name-last">Moya Medina</span> 
			p.about-pronouns #{about.pronouns}
		.about-text
			.about-synopsis!=`${about.synopsis}`
			a(href="/about" data-cursor-class="arrow").about-linkout  My experience + more
include _finds.pug

