---
layout: '_base.pug'
pagination:
  data: projects
  size: 1
  alias: p
permalink: '| projects/#{p.slug}/index.html'
eleventyComputed:
  title: '| #{p.title}'
  pageColorChoice: '| #{p.pageColor.toLowerCase()}'
---

- let orderedProjects = ordering.projects;
- let prev;
- let next;
- for (let i=0; i<orderedProjects.length; i++) {
-   let chosenProj = orderedProjects[i].item.data.attributes;
-   if (p.title == chosenProj.title) {
-     prevProj = orderedProjects[i-1];
-     nextProj = orderedProjects[i+1];
-   }
- }
- let coverImgFilename = `${p.cover.image.data.attributes.hash}${p.cover.image.data.attributes.ext}`
- let coverImgAlt = `${p.cover.image.data.attributes.alternativeText}`
- let projTags = p.tags.data
section.section.hero-project
  h2.p-hero-title #{p.title}
  p.p-hero-tags
    each ptag in projTags
      - let discipline = ptag.attributes.discipline
      span.p-tag #{discipline}
section.section.p-cover 
  .p-cover-img-wrapper
    img.p-cover-img(src=`/_assets/${coverImgFilename}` alt=`${coverImgAlt}`) 
section.section.p-text
  h3.p-prompt #{p.prompt}
  .p-summary!=`${p.summary}`
section.section.p-outcomes
  each outcome in p.outcomes
    - let outcomeFilename = `${outcome.image.data.attributes.hash}${outcome.image.data.attributes.ext}`
    - let outcomeAlt = `${outcome.image.data.attributes.alternativeText}`
    .p-outcome-img-wrapper(class=`col${outcome.area.Start} ${outcome.area.End.toLowerCase()}`)
      img.p-outcome-img(src=`/_assets/${outcomeFilename}` alt=`${outcomeAlt}`)
nav.section.p-pagination 
  h3.p-more See more
  ul.p-pagination-wrapper
    li.p-next-wrapper
      - if (nextProj) {
      a.p-more-item(href=`/projects/${nextProj.item.data.attributes.slug}` data-cursor-class="arrow")
        .paginate-label Next Project
        .p-paginate-proj #{nextProj.item.data.attributes.title}
      - }
    li.p-prev-wrapper
      - if (prevProj) {
        a.p-more-item(href=`/projects/${prevProj.item.data.attributes.slug}` data-cursor-class="arrow")
          .p-paginate-proj Prev | #{prevProj.item.data.attributes.title}
      - }